#header {
  width: 100%;
  height: 117px;
  background: #fff;
}
#header #content {
  width: 1200px;
  margin: 0 auto;
  height: 117px;
}
#header #content ul {
  overflow: hidden;
  height: 117px;
  position: relative;
}
#header #content ul li {
  float: left;
  height: 117px;
  line-height: 117px;
}
#header #content ul .header1 {
  margin-right: 10px;
  overflow: hidden;
}
#header #content ul .header1 .img {
  width: 80px;
  height: 80px;
  margin-right: 5px;
}
#header #content ul .header1 .img img {
  width: 100%;
  height: 100%;
}
#header #content ul .header1 div,
#header #content ul .header1 p {
  float: left;
}
#header #content ul .header2 ul {
  overflow: hidden;
  line-height: 117px;
  font-size: 14px;
  font-weight: bold;
  color: #055aaa;
}
#header #content ul .header2 ul li {
  float: left;
}
#header #content ul .header2 ul li a {
  display: inline-block;
  color: #055aaa;
  padding-left: 17px;
  padding-right: 18px;
  height: 117px;
  width: 100%;
}
#header #content ul .header2 ul li:first-of-type {
  background: #055aaa;
  border-bottom: 5px solid #de0122;
}
#header #content ul .header2 ul li:first-of-type a {
  color: #fff;
}
#header #content ul .header3 {
  width: 320px;
  height: 117px;
  position: relative;
  left: -300px;
  background: #fff;
  display: none;
}
#header #content ul .header3 div {
  height: 32px;
  font-size: 0;
  margin-left: 15px;
}
#header #content ul .header3 div select {
  background: #fff;
  width: 59px;
  height: 32px;
  font-size: 12px;
  color: #5b5b5b;
  padding-left: 7px;
  vertical-align: middle;
  border-right: none;
}
#header #content ul .header3 div input {
  width: 190px;
  height: 32px;
  vertical-align: middle;
  background: #fff;
}
#header #content ul .header3 div input::-webkit-input-placeholder {
  color: #c7c7c7;
  font-size: 12px;
}
#header #content ul .header3 div input::-moz-placeholder {
  color: #c7c7c7;
  font-size: 12px;
}
#header #content ul .header3 div input:-ms-input-placeholder {
  color: #c7c7c7;
  font-size: 12px;
}
#header #content ul .header3 div button {
  width: 50px;
  height: 32px;
  color: #c7c7c7;
  font-size: 16px;
  vertical-align: middle;
  border: 1px solid #C7C7C7;
  border-left: none;
}
#header #content ul .header4 {
  line-height: 117px;
  font-size: 13px;
  color: #045bab;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 20px;
}
#header #content ul .header5 {
  padding: 0 20px;
}
#header #content ul .header5 i {
  font-size: 22px;
}
