body{
    background: #f1f2f3;
}
#big-banner{
    min-width: 1200px;
//  margin-top: -11px;
    height: 417px;
    position: relative;
    .swiper-slide{
       height: 417px;
    }
    .swiper-pagination-bullet{
        width: 20px;
        height: 20px;
        position: relative;
        top: -40px;
        margin-right: 12px;
    }
    .swiper-pagination-bullet-active{
        background: #95c357;
    }
}
//主体部分
#big-main{
    width: 1200px;
    margin: 0 auto;
    .main-sincerity{
        margin-top: 30px;
        overflow: hidden;
        background: #fff;
        height: 532px;
        .sincerity-left{
            width: 822px;
            height: 532px;
            float: left;
            position: relative;
            margin-top: 5px;
            .left-title{
                width: 100%;
                height: 82px;
                line-height: 82px;
                overflow: hidden;
                border-top: 2px solid #b3cde4;
                h2{
                    font-size: 24px;
                    float: left;
                    color: #055aaa;
                    i{
                        margin-right: 16px;
                        margin-left: 19px;
                        font-size: 49px;
                        vertical-align: middle;
                    }
                    span{
                        display: inline-block;
                        width: 366px;
                        height: 4px;
                        background: #055aab;
                        position: absolute;
                        top: -4px;
                        left: 0;
                        z-index: 10;
                    }
                }
                .lndustry-name{
                    margin-right: 80px;
                    float: right;
                    li{
                        float: left;
                        height: 46px;
                        line-height: 46px;
                        margin: 0 10px;
                        a{
                            display: inline-block;
                            color: #055aaa;
                            font-size: 14px;
                            height: 46px;
                            line-height: 46px;
                        }
                    }
                    li:hover{
                        a{
                            border-top: 4px solid #0459aa;
                        }
                    }
                }
                .title-more{
                    display: inline-block;
                    position: absolute;
                    top: 14px;
                    right: 0;
                    height: 21px;
                    width: 60px;
                    color: #fff;
                    font-size: 14px;
                    text-align: center;
                    border-radius: 4px;
                    line-height: 21px;
                    background: #055aaa;
                }
            }
//          工业 农业的左侧的样式
            .xianshi-content{
                display: none;
            }
            .content-show{
                display: block;
            }
            .sincerity-content{
                overflow: hidden;
                height: 450px;
                padding-top: 10px;
                .left-img{
                    width: 340px;
                    height: 366px;
                    float: left;
                    overflow: hidden;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    p{
                        height: 44px;
                        line-height: 44px;
                        font-size: 0px;
                    }
                }
                ul{
                    float: right;
                    width: 468px;
                    li{
                        float: left;
                        height: 180px;
                        width: 148px;
                        .img{
                            width: 148px;
                            height: 152px;
                            img{
                                width: 148px;
                                height: 152px;
                            }
                        }
                        p{
                           font-size: 12px;
                           color: #515151; 
                           height: 24px;
                           line-height: 24px;
                           
                        }
                    }
                    li:nth-of-type(3n + 2){
                        margin: 0 10px;
                    }
                }
            }
//         旅游业的样式 
            .box{
                width: 822px;
                height: 376px;
                padding: 0 42px;
                overflow: hidden;
                .swiper-container2{
                    height: 376px;
                    position: relative;
                    
                    ul{
                        height: 376px;
                        width: 500%;
                        overflow: hidden;
                        margin: 0;
                        li{
                            height: 376px;
                            width: 245px;
                            margin-right: 3px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        
                    }
                    .swiper-button-next, .swiper-button-prev{
                        position: absolute;
                        top: 22px;
                        right: -42px;
                        width: 40px;
                        color: #0459aa;
                        height: 376px;
                        line-height: 376px;
                        background: #eaeaea;
                        text-align: center;
                        font-weight: bolder;
                        font-size: 19px;
                    }
                    .swiper-button-next{
                        right: -42px;
                        
                    }
                    .swiper-button-prev{
                        left: -42px;
                       
                    }
                }
            }
        }
        .sincerity-right{
            width: 305px;
            height: 444px;
            float: right;
            position: relative;
            .right-title{
                width: 100%;
                height: 65px;
                h2{
                    margin-top: 25px;
                    width: 100%;
                    font-size: 23px;
                    float: left;
                    color: #055aaa;
                    height: 40px;
                    line-height: 40px;
                    border-bottom: 1px solid #9abddd;
                }
            }
            .right-content{
                width: 300px;
                background: #fff;
                li{
                    color: #666;
                    height: 35px;
                    line-height: 35px;
                    font-size: 14px;
                    overflow: hidden;
                    span{
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        line-height: 22px;
                        text-align: center;
                        font-size: 18px;
                        float: left;
                        margin:7px  12px 0 0 ;
                        color: #fff;
                        border-radius: 3px;
                        vertical-align: middle;
                        color: #055aaa;
                    }
                }
                li:first-of-type, li:nth-of-type(2), li:nth-of-type(3){
                    span{
                        background: #055aaa;
                        color: #fff;
                    }
                }
            }
            .right-hide{
                display: none;
            }
            .look-more{
                position: absolute;
                bottom: 8px;
                height: 32px;
                background: #e5e9ef;
                text-align: center;
                width: 100%;
                line-height: 32px;
                color: #666;
            }
        }
    }
    .main-zixun{
        overflow: hidden;
        margin-top: 30px;
        background: #fff;
        padding: 20px 16px;
        margin-bottom: 100px;
        .zixun-title{
            width: 100%;
            height: 44px;
            line-height: 44px;
            margin-bottom: 10px;
            overflow: hidden;
            font-size: 30px;            
        }
        .zixun-content{
            width: 100%;
            height: 520px;
            overflow: hidden;
            .zixun-title{
                h2{
                    float: left;
                }
                .guizhou{
                    float: left;
                    font-size: 18px;
                    margin-top: 6px;
                    .guizhou-zixun{
                        color: #55c7fd;
                        margin: 0 20px;
                    }
                }
            }
            .content-title{
                width: 100%;
                height: 50px;
                text-align: left;
                line-height: 50px;
                color: #333;
                font-size: 28px;
                margin-bottom: 12px;
            }
            .cnt-zhuanli{
                display: none;
            }
            .one-img{
                position: relative;
                width: 394px;
                height: 230px;
                img{
                    width: 100%;
                    height: 100%;
                }
                p{
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    height: 44px;
                    line-height: 44px;
                    text-align: center;
                    color: #fff;
                    background: rgba(10,10,10,.5);
                }
            }
            
            .content-ul{
                margin: 12px 0 16px 0;
                li{
                   height: 32px;
                   line-height: 32px; 
                   font-size: 16px;
                   color: #333;
                   padding: 0 16px;
                   a{
                       display: inline-block;
                       width: 253px;
                       white-space: nowrap;
                       overflow: hidden;
                       text-overflow: ellipsis;
                   }
                   a:hover{
                       color: #ff3055;
                       text-decoration:underline;
                   }
                   span{
                       float: right;
                       color: #999;
                       font-size: 14px;
                   }
                }
            }
            .content-btm{
                height: 44px;
                line-height: 44px;
                text-align: right;
                color: #999;
                font-size: 16px;
                padding-right: 16px;
                border-top: 1px dashed #ccc;
                position: absolute;
                width: 100%;
                bottom: 0;
            }
            .content-gonggong{
                float: left;
                width: 396px;
                height: 100%;
                position: relative;
            }
            .content-center{
                margin-left: 20px;
                .content-ul{
                    li{
                        padding-left: 0;
                    }
                }
                .two-img{
                    width: 100%;
                    height: 120px;
                    overflow: hidden;
                    img{
                        float: left;
                        margin-right: 20px;
                        height: 100%;
                    }
                    .jiehsao{
                        color: #80abd0;
                        font-size: 18px;
                    }
                }
            }
            .content-right{
                float: right;
                width: 468px;
                .cnt-top{
                    height: 170px;
                    ul{
                        overflow: hidden;
                        width: 468px;
                        li{
                            float: left;
                            width: 222px;
                            img{
                                margin-bottom: 10px;
                            }
                            p{
                                width: 100%;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                font-size: 18px;
                            }
                        }
                        .fl-right{
                            float: right;
                        }
                    }
                }
                .content-ul{
                    li{
                        padding-left: 0;
                        a{
                            width: 330px;
                        }
                    }
                }
            }
        }
    }
    .shujuimg{
        height: 176px;
        width: 1666px;
        margin-left: -233px;
    }
    .main-shuju{
        overflow: hidden;
        background: #fff;
        height: 370px;
        .shuju-title{
            width: 100%;
            height: 76px;
            line-height: 76px;
            overflow: hidden;
            span{
                display: inline-block;
                width: 340px;
                height: 76px;
                line-height: 76px;
                font-size: 26px;
                color: #b6b6b6;
                border-top: 4px solid #b6b6b6;
            }
            .now-shuju{
                color: #055aaa;
                border-top: 4px solid #055aaa;
            }
        }
        .cnt-top{
            overflow: hidden;
            p{
                height: 45px;
                line-height: 45px;
                width: 101px;
                float: left;
                margin-right: 10px;
                color: #055aaa;
                font-size: 12px;
                text-align: center;
                border: 2px solid #338edf;
            }
            .left{
                color: #fff;
                background: #338edf;
            }
            .right{
                margin: 0;
            }
        }
        .shuju-content{
            width: 100%;
            min-height: 400px;
            .tubiao{
                width: 428px;
                min-height: 400px;
                float: left;
                margin-right: 10px;
                text-align: center;
                img{
                    width: 350px;
                    height: 328px;
                    margin-top: 20px;
                }
                .two{
                    display: none;
                }
            }
            .right-cnt{
                margin: 0;
            }
            
        }
    }
    
    .main-chaxun{
        margin-top: 30px;
        overflow: hidden;
        background: #fff;
        height: 515px;
        .sincerity-left{
            width: 822px;
            height: 444px;
            float: left;
            .left-title{
                width: 100%;
                height: 82px;
                line-height: 82px;
                overflow: hidden;
                border-top: 2px solid #b3cde4;
                position: relative;
                h2{
                    font-size: 24px;
                    float: left;
                    color: #055aaa;
                    i{
                        margin-right: 16px;
                        margin-left: 19px;
                        font-size: 49px;
                        vertical-align: middle;
                    }
                    span{
                        display: inline-block;
                        width: 366px;
                        height: 4px;
                        background: #055aab;
                        position: absolute;
                        top: -4px;
                        left: 0;
                        z-index: 10;
                    }
                }
                .lndustry-name{
                    margin-right: 80px;
                    float: right;
                    li{
                        float: left;
                        height: 46px;
                        line-height: 46px;
                        margin: 0 10px;
                        a{
                            display: inline-block;
                            color: #055aaa;
                            font-size: 14px;
                            height: 46px;
                            line-height: 46px;
                        }
                    }
                    li:hover{
                        a{
                            border-top: 4px solid #0459aa;
                        }
                    }
                }
                .title-more{
                    display: inline-block;
                    position: absolute;
                    top: 14px;
                    right: 0;
                    height: 21px;
                    width: 60px;
                    color: #fff;
                    font-size: 14px;
                    text-align: center;
                    border-radius: 4px;
                    line-height: 21px;
                    background: #055aaa;
                }
            }
            .left_main{
                overflow: hidden;
                section{
                    width: 271px;
                    height: 295px;
                    float: left;
                    background: #f6f6f6;
                    .img{
                        float: left;
                        width: 31px;
                        height: 295px;
                        img{
                            width: 31px;
                            height: 295px;
                        }
                    }
                    ul{
                        float: left;
                        padding-top: 30px;
                        padding-left: 15px;
                        li{
                            overflow: hidden;
                            height: 45px;
                            line-height: 45px;
                            div{
                                float: left;
                            }
                            .title{
                                width: 81px;
                                text-align: center;
                                padding: 0 12px;
                                border-right: 1px solid #d0d0d0;
                                font-size: 12px;
                                color: #045baa;
                            }
                            .content{
                                color: #ef2523;
                                font-size: 12px;
                                span{
                                    font-size: 28px;
                                    font-weight: bolder;
                                    margin-left: 10px;
                                }
                            }
                        }
                        li:nth-of-type(2){
                            margin: 50px 0;
                            line-height: 22px;
                            span{
                                line-height: 45px;
                            }
                        }
                    }
                }
                section:nth-of-type(2){
                    margin: 0 4px;
                }
            }
//         
        }
        .sincerity-right{
            width: 305px;
            height: 444px;
            float: right;
            position: relative;
            .right-title{
                width: 100%;
                height: 65px;
                h2{
                    margin-top: 25px;
                    width: 100%;
                    font-size: 23px;
                    float: left;
                    color: #055aaa;
                    height: 40px;
                    line-height: 40px;
                    border-bottom: 1px solid #9abddd;
                }
            }
            .right-content{
                width: 300px;
                background: #fff;
                li{
                    color: #666;
                    height: 35px;
                    line-height: 35px;
                    font-size: 14px;
                    overflow: hidden;
                    span{
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        line-height: 22px;
                        text-align: center;
                        font-size: 18px;
                        float: left;
                        margin:7px  12px 0 0 ;
                        color: #fff;
                        border-radius: 3px;
                        vertical-align: middle;
                        color: #055aaa;
                    }
                }
                li:first-of-type, li:nth-of-type(2), li:nth-of-type(3){
                    span{
                        background: #055aaa;
                        color: #fff;
                    }
                }
            }
            .right-hide{
                display: none;
            }
            .look-more{
                position: absolute;
                bottom: 8px;
                height: 32px;
                background: #e5e9ef;
                text-align: center;
                width: 100%;
                line-height: 32px;
                color: #666;
            }
        }
    }
    .main-tongji{
        margin-top: 30px;
        height: 580px;
        background: url(../img/tongji.png) left 30px no-repeat;
        background-color: #fff;
        padding: 20px 16px;
        overflow: hidden;
        
        h2{
            font-size: 30px;
            float: left;
            i{
                margin-right: 12px;
            }
        }
        p{
            float: right;
            margin-right: 250px;
            font-size: 30px;
        }
    }
}

#returnTop{
    position: fixed;
    bottom: 24px;
    right: 90px;
    width: 50px;
    height: 70px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 5px;
    overflow: hidden;
    display: none;
    border: 1px solid #d3331d;
    a{
        i{
            display: inline-block;
            width: 50px;
            height: 70px;
            font-size: 50px;
            line-height: 70px;
            color: #d3331d;
        }
    }
}

